papi-greenfleet-accounts-maintenance/src/main/mule/papi-greenfleet-accounts-maintenance.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="papi-greenfleet-accounts-maintenance-main">
        <http:listener path="/api/*" config-ref="papi-greenfleet-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="papi-greenfleet-accounts-maintenance-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="papi-greenfleet-accounts-maintenance-console">
        <http:listener path="/console/*" config-ref="papi-greenfleet-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="papi-greenfleet-accounts-maintenance-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\account:papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "A001",
    name: "GreenFleet Solutions",
    industry: "Fleet Management",
    country: "Portugal",
    vehicles: [
      {
        id: "V101",
        brand: "Tesla",
        model: "Model 3",
        status: "available"
      }, 
      {
        id: "V102",
        brand: "Nissan",
        model: "Leaf",
        status: "in maintenance"
      }
    ]
  }, 
  {
    id: "A002",
    name: "EcoMove Logistics",
    industry: "Transportation",
    country: "Spain",
    vehicles: [
      {
        id: "V103",
        brand: "Renault",
        model: "Zoe",
        status: "reserved"
      }, 
      {
        id: "V104",
        brand: "BMW",
        model: "i3",
        status: "available"
      }
    ]
  }, 
  {
    id: "A003",
    name: "UrbanDrive Services",
    industry: "Car Sharing",
    country: "France",
    vehicles: [
      {
        id: "V105",
        brand: "Hyundai",
        model: "Kona Electric",
        status: "available"
      }, 
      {
        id: "V106",
        brand: "Peugeot",
        model: "e-208",
        status: "in maintenance"
      }
    ]
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="getAccount" doc:id="e72727a4-7b23-421f-8d2b-dfe0e0007a35" name="getAccount"/>
    </flow>
    <flow name="get:\account\(accountId)\vehicles:papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "V101",
    brand: "Tesla",
    model: "Model 3",
    status: "available"
  }, 
  {
    id: "V102",
    brand: "Nissan",
    model: "Leaf",
    status: "in maintenance"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="getAccount\(accountId)\vehicles" doc:id="c962d8fc-b2f0-41fc-b84f-04017c091c6e" name="getAccount\(accountId)\vehicles"/>
    </flow>
    <flow name="get:\account\(accountId):papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "A001",
  name: "GreenFleet Solutions",
  industry: "Fleet Management",
  country: "Portugal",
  vehicles: [
    {
      id: "V101",
      brand: "Tesla",
      model: "Model 3",
      status: "available"
    }, 
    {
      id: "V102",
      brand: "Nissan",
      model: "Leaf",
      status: "in maintenance"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="getAccount\(accountId)" doc:id="ae8b2638-71e7-413c-9d84-2543f315aa4e" name="getAccount\(accountId)"/>
    </flow>
    <flow name="post:\account:application\json:papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Accounts accepted for processing."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="postAccount" doc:id="88a116b4-e772-48e1-82e1-b7b41ccd4ce0" name="postAccount"/>
    </flow>
    <flow name="post:\maintenance:application\json:papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Maintenance request accepted for processing."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="postMaintenance" doc:id="b4087273-048c-4020-8ecd-5963c905b168" name="postMaintenance"/>
    </flow>
    <flow name="post:\partner-accounts:application\json:papi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Partner accounts accepted for processing."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="postPartnerAccount" doc:id="662f5af9-080e-4a9f-a714-ad3f02897fe3" name="postPartnerAccount"/>
    </flow>
</mule>
