sapi-greenfleet-db-accounts-maintenance/src/main/mule/sapi-greenfleet-accounts-maintenance.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sapi-greenfleet-accounts-maintenance-main">
        <http:listener path="/api/*" config-ref="sapi-greenfleet-accounts-maintenance-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-greenfleet-accounts-maintenance-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable value="" doc:name="Set Variable" doc:id="af63eab8-7c03-423d-ac0e-4089bff7b01e" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<set-variable value="" doc:name="Set Variable" doc:id="32bfa339-8116-40e6-9b5f-3c0031be5896" variableName="outboundHeaders" mimeType="application/json"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sapi-greenfleet-accounts-maintenance-console">
        <http:listener path="/console/*" config-ref="sapi-greenfleet-accounts-maintenance-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-greenfleet-accounts-maintenance-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\account:sapi-greenfleet-accounts-maintenance-config">
		<flow-ref doc:name="getAccount" doc:id="3743acd1-ccda-41bf-9f36-d005c43a388d" name="getAccount"/>
    </flow>
    <flow name="get:\account\(accountId)\vehicles:sapi-greenfleet-accounts-maintenance-config">
		<flow-ref doc:name="getAccount\(ID)\vehicles" doc:id="cf068863-b6e0-4438-830d-bd8f15c3936f" name="getAccount\(ID)\vehicles"/>
    </flow>
    <flow name="get:\account\(accountId):sapi-greenfleet-accounts-maintenance-config">
		<flow-ref doc:name="getAccount\(ID)" doc:id="9369ee98-df67-48b3-9c5b-9a91f4044402" name="getAccount\(ID)"/>
    </flow>
    <flow name="post:\account:application\json:sapi-greenfleet-accounts-maintenance-config">
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Accounts added successfully."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="93a0042b-d9d3-46e6-bce2-2771eb8002f5" name="postAccount"/>
    </flow>
    <flow name="post:\maintenance:application\json:sapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Maintenance request added successfully."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="postMaintenance" doc:id="1628b5c2-efa8-47fa-85ee-f55adc528e03" name="postMaintenance"/>
    </flow>
    <flow name="post:\partner-accounts:application\json:sapi-greenfleet-accounts-maintenance-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Partner accounts stored successfully."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="PostPartnerAccounts" doc:id="51341f31-2c12-4048-8873-caced6a3ec5b" name="PostPartnerAccounts"/>
    </flow>
	<flow name="weeklyMaintenanceCsvMain" doc:id="a1e18938-8557-44c7-a08d-0d37503f4cf2" >
		<scheduler doc:name="Scheduler" doc:id="28b4a745-3b6b-4742-a6a1-cda362121db5" >
			<scheduling-strategy >
				<fixed-frequency frequency="30000" startDelay="5000" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="weeklyMaintenanceCsvImplement" doc:id="df6e290a-5eae-4692-a125-debc56f9cf66" name="weeklyMaintenanceCsvImplement"/>
	</flow>
	<flow name="sapi-greenfleet-post-accounts2-main" doc:id="c52e9aba-9dea-48d5-8fb7-3d5a39da7492" >
		<http:listener doc:name="Listener" doc:id="b2ee28de-d3d2-4a65-b674-70fe9bb29443" path="/api/accounts2" config-ref="sapi-greenfleet-accounts-maintenance-httpListenerConfig">
			<http:response statusCode="#[vars.httpStatus default 200]" />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="eaf662d7-7fc5-429f-abb3-0ed2e78207d1" message="chamado"/>
		<flow-ref doc:name="postAccounts2-implementation" doc:id="aa72a31e-ecf7-46b8-8876-17405c16f0d3" name="postAccounts2-implementation"/>
	</flow>
</mule>
